[Unit]
Description=NBN API
After=network.target

[Service]
User=skim
WorkingDirectory=/home/skim/projects/nbn-api
ExecStart=/home/skim/projects/nbn-api/venv/bin/uvicorn main:app --host 127.0.0.1 --port 8001
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
